* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Times New Roman", "Times", serif;
    scroll-behavior: smooth;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10000;
}

header ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li {
    list-style: none;
    margin-left: 20px;
}

header ul li a {
    text-decoration: none;
    padding: 6px 15px;
    color: #fff;
}

header ul li a:hover, header ul li a .active {
    background: #fff;
    color: #2b1055;
}   

section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 1em;
}

.product {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    width: 300px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em;
    z-index: 2; 
    position: fixed;
    bottom: 0;
    width: 100%;
}


.product img {
    width: 100%; 
}

.product:nth-child(odd) {
    position: static; 
}

.product:nth-child(even) {
    position: fixed;
    top: 10px;
    right: 10px;
}

.product:nth-child(3) {
    position: relative; 
    top: 20px;
}

.product:nth-child(4) {
    position: absolute; 
    top: 20px;
    left: 20px;
}

.product:nth-child(5) {
    position: sticky;
    top: 20px;
    background-color: #fff;
    z-index: 1; 
}